body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 10px;
}

h2 {
  text-align: center;
}

select, button {
  padding: 8px;
  margin: 5px;
}

#quiz {
  background: white;
  padding: 15px;
  margin-top: 10px;
}

.option {
  display: block;
  margin: 5px 0;
}

#dashboard {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

